/* Nav */

.navbar-nav {
  gap: 16px;
}

/* Footer */

footer .navbar-nav {
  width: 100%;
  flex-direction: row;
  justify-content: center;
}


.Homepage img{
  width:100%;
  height:265px;
  margin-bottom: 50px;
}